header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 2rem 2rem;
}

.admin_login_btn,
.event_details {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(103, 100, 100);
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

header a:hover,
.event_details {
  background-color: #ed3237;
  color: #ffff;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
}
.event_details {
  font-size: 18px;
}

.next_event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next_event h1 {
  margin-bottom: 0.5em;
}

.next_event p {
  margin-bottom: 1rem;
}

.event_list {
  /* padding: 2.5rem 0; */
}

.event_list > h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
}

.event-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.event-card-list .date {
  font-weight: bold;
}

.event {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center; /* center content inside card */
  width: 300px; /* small card size */
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* card shadow */
}

.event h2 {
  margin-top: 1rem;
  text-align: center;
}

.event p {
  margin-top: 0.3rem;
}

.event img {
  width: 100%;
  border-radius: 0.5rem;
}

.event .venue {
  color: rgb(103, 100, 100);
  font-size: 0.9rem;
}

.details_button {
  padding: 0.6rem 1.2rem;
  background-color: #ed3237;
  color: #ffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.container {
  border: 1px solid black;
  width: 600px;
  padding: 10px 20px;
  border-radius: 10px;
}

.top-layer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.language {
  margin-top: 14px;
}

.repository-container {
  display: flex;
  gap: 14px;
}

.container > .description {
  min-height: 50px;
}
