header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 2rem 2rem;
}

.admin_login_btn,
.event_details {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(103, 100, 100);
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

header a:hover,
.event_details {
  background-color: #ed3237;
  color: #ffff;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
}
.event_details {
  font-size: 18px;
}

.next_event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event_list {
  background-color: rgb(103, 100, 100);
  color: #ffff;
  width: 1000px;
  margin: 2rem auto;
  padding: 2.5rem 0;
}

.event_list > h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
}

.event {
  background-color: #ffff;
  color: black;
  margin: 0 1.5rem 1rem 1.5rem;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.event > div {
  flex: 1; /* makes each child expand equally */
  text-align: center; /* optional: centers text inside each column */
}

.details_button {
  padding: 0.6rem 1.2rem;
  background-color: #ed3237;
  color: #ffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.event img {
  width: 250px;
  border-radius: 0.75rem; /* Rounded corners */
}
