body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(114, 114, 114);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
